@import './../../../assets/scss/_variables.scss';
.migration {
  width: 100%;
  height: 100%;
}

.column-definitions {
  display: flex;
  flex-direction: column;
  &__header {
    padding: 8px 16px;
    display: flex;
    &-title {
      margin-right: auto;
    }
  }
  &__body {}
  &__footer {
    display: flex;
    padding: 8px 16px;
    justify-content: flex-end;
  }
  &__adder {
    background-color: $lightColor;
    color: $dark2Color;
    width: 30px;
    height: 30px;
    border: 1px solid $borderColor;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    &:hover {
      background-color: darken($lightColor, 4%);
    }
  }
}
.commit-migration {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__footer {
    display: flex;
    padding: 8px 16px;
    justify-content: flex-end;
  }
}

.ace_scrollbar::-webkit-scrollbar {
  width: 8px;
}
.ace_scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
.ace_scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 0 1px white;
}
