@import './../../../assets/scss/_variables.scss';
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 20;
  width: 80%;
  min-width: 720px;
  background-color: $lightColor;
  height: 400px;
  &.active {
    animation: modal-fade-in 0.3s ease;
  }
  &__close {
    display: inline-block;
    position: absolute;
    top: -6px;
    right: -10px;
    width: 40px;
    height: 26px;
    color: white;
    background-color: $dangerColor;
    border-radius: $borderRadius;
    text-align: center;
  }
  &__header {
    display: flex;
    height: 40px;
    line-height: 24px;
    background: $lightColor;
    border-bottom: 1px solid $borderColor;
    padding: 8px 16px;
    box-sizing: border-box;
  }
  &__body {
    height: calc(100% - 80px);
    margin-bottom: auto;
    padding: 8px 16px;
    box-sizing: border-box;
  }
  &__footer {
    display: flex;
    height: 40px;
    line-height: 24px;
    border-top: 1px solid $borderColor;
    background: $lightColor;
    padding: 8px 16px;
    box-sizing: border-box;
    &.reverse {
      justify-content: flex-end;
    }
  }
}
@keyframes modal-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

.row {
  display: flex;
}

.input--datatype {
  width: 40%;
}
.input--num {
  width: 40px;
  input {
    width: 40px;
  }
}
.input--constraints {
  width: 40%;
}

.select {
  position: relative;
  .selectbox {
    width: 100%;
    position: absolute;
    top: 36;
    left: 16;
    background-color: white;
    z-index: 110;
    li {
      cursor: pointer;
      box-sizing: border-box;
      width: 100%;
      padding: 8px 16px;
      &.label {
        font-weight: $textWeightMedium;
        
        &.active {
          cursor: default;
        }
      }

      &.default {
        padding-left: 24px;
        display: none;
        &.active {
          display: block;
          animation: pop-fade-in 0.3s ease;
        }
      }
      
      &:not(:last-child) {
        border-bottom: 1px solid $borderColor;
      }
      &:hover {
        background-color: $cleanColor;
      }
    }
  }
}
@keyframes pop-fade-in {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}