@import './../../../assets/scss/_variables.scss';
.input {
  padding: 4px 8px;
  label {
    display: flex;
    line-height: 36px;
    font-weight: bold;
    span {
      padding: 0 8px;
      font-weight: $textWeightMedium;
      color: $dark2Color;
    }
    input {
      flex-grow: 1;
      height: 36px;
      box-sizing: border-box;
      padding: 4px 8px 0 8px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $borderColor;
      transition: all 0.3s;
      &:focus {
        border-bottom: 2px solid $primaryColor;
        background-color: rgba(255, 255, 255, 0.75);
        outline: none;
      }
      &.disable {
        background-color: $disabledColor;
      }
    }
  }
}