$defaultColor: #fff;
$lightColor: #f9f9fa;
$cleanColor: #efeffe;
$primaryColor: #4B0082;
$primaryColorDisable: #2B0062;
$primaryAccentColor: #FFFF00;
$dangerColor: #ac1525;
$disabledColor: #e5eaea;
$secondaryColor: #ccc;
$borderColor: #ccc;
$dark1Color: #999;
$dark2Color: #777;
$dark3Color: #555;

$borderRadius: 4px;
$textWeightMedium: 600;